.container {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}  
.ejemplo {
    background-color:#333333;
    color: #0af358;
}
.output {
    margin-top: 10px;
    color: #007bff;
}

/* Estilo para la clase */
.clase {
color: #ff3e3e; /* Por ejemplo, un color naranja para la clase */
}

/* Estilo para los métodos */
.metodo {
color: #BD93F9; /* Por ejemplo, un color morado para los métodos */
}

/* Estilo para las variables */
.variable {
color: #E6DB74; /* Por ejemplo, un color amarillo para las variables */
}

/* Estilo para las cadenas */
.cadena {
color: #50fa7b; /* Por ejemplo, un color verde para las cadenas */
}

.pila {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin-bottom: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.comment {
    color: #75715E; /* Color gris para los comentarios */
}

/* Estilo para las palabras clave */
.keyword {
    color: #FF9D00; /* Color naranja para las palabras clave */
}

/* Estilo para los literales numéricos */
.number {
    color: #FF79C6; /* Color rosa para los literales numéricos */
}

 /* Estilo para los strings */
 .string {
    color: #8be9fd; /* Color celeste para las cadenas */
}